<div style="text-align:center">
  <h1>
    Users
  </h1>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="new">
        <td></td>
        <td>
            <input #newUser type='text' placeholder='Name' class="form-control" >
        </td>
        <td>
            <button (click)="addUser(newUser)" class="btn btn-outline-success">Add New User</button>
        </td>
      </tr>
      <tr *ngFor="let user of users; let i = index">
        <td>
          {{ (i + 1) }}
        </td>
        <td>
            <input #updateName type='text' value="{{ user.name }}" class="form-control"/>
        </td>
        <td>
            <button (click)="updateUser(user, updateName)" class="btn btn-outline-success">Update</button>
            <button (click)="deleteUser(user)" class="btn btn-outline-danger">Delete</button>
            <button class="btn btn-outline-primary" (click)="openTasks(content, user)">Tasks</button>
        </td>
      </tr>
    </tbody>
</table>
{{ error?.message }}
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Tasks {{ currentUser.name }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">State</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>
                    <input #description type='text' placeholder='Description'>
                </td>
                <td>
                    <select #state class="browser-default custom-select">
                      <option *ngFor="let state of states" value="{{ state.value }}">{{ state.label }}</option>
                    </select>
                </td>
                <td>
                    <button (click)="addTask(description, state)" class="btn btn-outline-success">Add New Task</button>
                </td>
              </tr>
              <tr *ngFor="let task of tasks; let i = index">
                  <td>
                      {{ (i + 1) }}
                    </td>
                    <td>
                        <input #updateDescription type='text' value="{{ task.description }}">
                    </td>
                    <td>
                        <select #upsateState value="{{ task.state }}" class="browser-default custom-select">
                          <option *ngFor="let state of states" value="{{ state.value }}">{{ state.label }}</option>
                        </select>
                    </td>
                    <td>
                        <button (click)="updateTask(task, updateDescription, upsateState)" class="btn btn-outline-success">Update</button>
                        <button (click)="deleteTask(task)" class="btn btn-outline-danger">Delete</button>
                    </td>
              </tr>
            </tbody>
          </table>
    </div>
    {{ errorTasks?.message }}
  </ng-template>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Alguma ação</a>
      <a class="dropdown-item" href="#">Outra ação</a>
      <a class="dropdown-item" href="#">Alguma coisa aqui</a>
    </div>